{% comment %}
    - block - a page_link block
{% endcomment %}
{% style %}
    #footer-link--{{ block.id }} {
        color: var(--colorBtnPrimary);
        background-color: var(--color-bg);
        border: 3px solid var(--colorBtnPrimary);
    }
{% endstyle %}

<a class="btn btn--full" id="footer-link--{{ block.id }}" href="{{ block.settings.page_link_url }}">
    {{ block.settings.page_link_text }}
</a>
